dotnet-web/bin/Debug/netcoreapp2.1/dotnet-web.dll
dotnet-web/bin/Debug/netcoreapp2.1/dotnet-web.deps.json
dotnet-web/bin/Debug/netcoreapp2.1/dotnet-web.pdb
dotnet-web/bin/Debug/netcoreapp2.1/dotnet-web.runtimeconfig.dev.json
dotnet-web/bin/Debug/netcoreapp2.1/dotnet-web.runtimeconfig.json
dotnet-web/obj/dotnet-web.csproj.nuget.cache
dotnet-web/obj/dotnet-web.csproj.nuget.g.props
dotnet-web/obj/dotnet-web.csproj.nuget.g.targets
dotnet-web/obj/project.assets.json
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.AssemblyInfo.cs
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.AssemblyInfoInputs.cache
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.assets.cache
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.csproj.CoreCompileInputs.cache
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.csproj.FileListAbsolute.txt
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.csprojAssemblyReference.cache
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.dll
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.pdb
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.RazorAssemblyInfo.cache
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.RazorAssemblyInfo.cs
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.RazorTargetAssemblyInfo.cache
dotnet-web/obj/Debug/netcoreapp2.1/project.razor.json
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.RazorCoreGenerate.cache
dotnet-web/bin/Debug/netcoreapp2.1/dotnet-web.Views.dll
dotnet-web/bin/Debug/netcoreapp2.1/dotnet-web.Views.pdb
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.csproj.CopyComplete
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.RazorTargetAssemblyInfo.cs
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.TagHelpers.input.cache
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.TagHelpers.output.cache
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.Views.dll
dotnet-web/obj/Debug/netcoreapp2.1/dotnet-web.Views.pdb
dotnet-web/obj/Debug/netcoreapp2.1/Razor/Views/Index.g.cshtml.cs
dotnet-web/obj/Debug/netcoreapp2.1/Razor/Views/Myview.g.cshtml.cs
dotnet-sesion1/obj/Debug/netcoreapp2.1/dotnet-sesion1.assets.cache
dotnet-sesion1/obj/dotnet-sesion1.csproj.nuget.cache
dotnet-sesion1/obj/dotnet-sesion1.csproj.nuget.g.props
dotnet-sesion1/obj/dotnet-sesion1.csproj.nuget.g.targets
dotnet-sesion1/obj/project.assets.json
dotnet-sesion1/obj/Debug/netcoreapp2.1/dotnet-sesion1.csproj.CoreCompileInputs.cache
dotnet-sesion1/obj/Debug/netcoreapp2.1/dotnet-sesion1.csprojAssemblyReference.cache
dotnet-sesion1/obj/Debug/netcoreapp2.1/dotnet-sesion1.csproj.CoreCompileInputs.cache
dotnet-sesion1/obj/Debug/netcoreapp2.1/dotnet-sesion1.csproj.CoreCompileInputs.cache
dotnet-web/obj/Debug/netcoreapp2.1/Razor/Views/Home/RegistrarFan.g.cshtml.cs
dotnet-web/obj/dotnet-web.csproj.EntityFrameworkCore.targets
dotnet-web/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
dotnet-sesion1/obj/Debug/netcoreapp2.1/dotnet-sesion1.csproj.CoreCompileInputs.cache
