@model dotnet_web.models.Follower
<!DOCTYPE html>
<html>
    <title>Dora App</title>
<body>
    <h1>Bienvenido a Dora Site</h1><br>
   
    <div>
        <form asp-controller="Home" asp-action="RegistrarFan">
            <label>Es un Fun</label><br/>
            <label>Nombres</label>
            <input asp-for="Name"/><br/>
            <label>Correo</label>
            <input asp-for="Email"/><br/>
            <label>Fecha Nacimiento</label>
            <input asp-for="Birth"/><br/>
            <input type="submit" value="Registrate"/>
        </form>
    </div>
    <img src="images/dora.jpg" width="300px" height="200px"/>
    
</body>
</html>