@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model dotnet_web.models.Follower
<!DOCTYPE html>
<html>
    <title>Dora App</title>
<body>
    <h1>La respuesta 
        @Html.DisplayTextFor(model => model.Age)
    </h1><br>
</body>
</html>